body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #2C2C2C;
	position: relative;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
.slick-initialized .slick-slide{
	outline: none !important;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


/*// CSS BY VLAD*/


header{
	background: #111111;
	padding: 12px 0;
}
.inner__header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
ul.menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.menu li:not(:last-child){
	margin-right: 30px;
}
ul.menu li a{
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	text-decoration: none;
}
.first-screen{
	background: #111111;
}
.inner__section{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex !important;
	align-items: center;
}
section{
	position: relative;
}
.wrapper-arrows{
	width: 50%;
}
.inner__photo img{
	max-width: 600px;
	width: 100%;
	min-height: 615px;
	-o-object-fit: cover;
	object-fit: cover;
}
.inner__photo{
	width: 50%;
}
.arrow{
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;	
}
.wrapper-arrows{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	position: relative;
	align-items: center;
	justify-content: flex-end;
	top: -60px;
}
.arrow-left{
	background-image: url('../../assets/images/arrow-left-slider.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.arrow-right{
	background-image: url('../../assets/images/arrow-right-slider.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.arrow:hover{
	background-color: #D7B45C;
	cursor: pointer;
}
.information__tag{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 16px;
	opacity: 0.6;
}
.arrows-count{
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 35px;
	margin-right: 28px;
	color: #FFFFFF;
	width: 38px;
}
.information__name span{
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	line-height: 108px;
	opacity: 0.05;
	left: 0;
	top: 7px;
	position: absolute;
}
.information__name{
	position: relative;
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 54px;
	color: #FFFFFF;
	margin-bottom: 16px;
}
.information__address{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #505050;
	margin-bottom: 16px;
}
.information__description{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 167%;
	color: #FFFFFF;
	max-width: 470px;
	margin-bottom: 40px;
	min-height: 70px;
}
.inner__information{
	padding-right: 115px;
	width: 50%;
}
.information__button:hover{
	background-position: 83%;
}
.information__button{
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	border: 1px solid #ffffff;
	border-radius: 2px;
	text-decoration: none;
	padding: 15px 70px 15px 30px;
	background: url(../../assets/images/white-arrow.svg) no-repeat 80% center;
	outline: none;
	cursor: pointer;
}
.star.empty{
	background: url(../../assets/images/no-active-star.svg) no-repeat center;
}
.star{
	min-width: 10px;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 3px;
	background: url(../../assets/images/active-star.svg) no-repeat center;
}
.information__rating{
	margin-bottom: 12px;
}
.information__rating span:nth-child(2){
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #878787;
	margin-left: 8px;
}
.title{
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 41px;
	color: #111111;
	margin-bottom: 35px;
	position: relative;
}
.recently-added, .news-and-blog{
	margin: 90px 0 60px 0;
}
.item{
	margin: 0 15px;
	position: relative;
}
.item img{
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.wrapper .title{
	padding: 0 15px;
}
.item__tag{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #111111;
	border-radius: 50px;
	display: inline-block;
	padding: 8px 18px;
	position: absolute;
	top: 20px;
	left: 20px;
}
.default-link{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	margin-right: 10px;
	vertical-align: middle;
	text-decoration: none;
}
.information__rating{
	vertical-align: middle;
}
.small-silver{
	margin-top: 12px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #505050
}
.wrapper-arrows.added .arrow:hover, .wrapper-arrows.blog .arrow:hover{
	border-color: #D7B45C;
}
.wrapper-arrows.added .arrow, .wrapper-arrows.blog .arrow{
	border: 1px solid #e5e5e5;
}
.wrapper-arrows.added, .wrapper-arrows.blog{
    right: 0;
    position: absolute;
    top: -20px;
}
.slick-dots > li button:before{
	display: none;
}
.slick-dots > li button{
	width: 10px !important;
	padding: 0;
	height: 10px !important;
}
.slick-dots > li.slick-active{
	background: #D7B45C;
}
.slick-dots{
	bottom: -40px !important;
}
.slick-dots > li {
	width: 10px !important;
	height: 10px !important;
	border-radius: 100%;
	background: #E5E5E5;
}
.news-and-blog .small-silver{
	margin-bottom: 12px;
}
.s__contacts, .AB__advertising{
	width: 25%;
	position: relative;
}
.AB__title{
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	color: #111111;
	margin-bottom: 15px;
}
.s__table, .AB_left{
	width: 75%;
}
.AB__text{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 175%;
	color: #505050;
}
.AB__advertising .title{
	text-align: center;
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	color: #111111;
}
.AB__advertising{
	margin-left: 30px;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	padding: 15px;
}
.s__table td:nth-child(2){
	text-align: right;
}
.s__text{
	text-align: center;
	margin-top: 20px;
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #505050;
}
.s__contacts .title{
	padding-top: 25px;
	text-align: center;
	font-size: 23px;
	line-height: 31px;
}
.s__contacts{
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	margin-left: 30px;
	min-width: 250px;
}
.services .title{
	margin-bottom: 25px;
}
.address{
	background: url('../images/icons/map-pin.svg') no-repeat left;
}
.work-time{
	background: url('../images/icons/clock.svg') no-repeat left;
}
.phone{
	background: url('../images/icons/phone.svg') no-repeat left;
}
.s__wrapper-buttons a:first-child{
	background: #D7B45C;
}
.s__wrapper-buttons a{
	padding: 13px 15px;
	width: 50%;
	display: inline-block;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	text-decoration: none;

	color: #464646;
}
.s__iframe {
	width: 100%;
	display: block;
}
.s__iframe iframe{
	display: block;
	width: 100%;
}
.s__wrapper-buttons{
	margin: 0 13px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #D7B45C;
	border-radius: 5px;
	margin-bottom: 20px;
}
.s-contacts__links span{
	color: #666666;
}
.s-contacts__links{
	margin: 0 25px;
	padding: 0 30px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #000000;
	margin-bottom: 15px;
	line-height: 20px;
}
.services, .about-barber{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 70px;
}
.s__table td{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 240.5%;
	color: #000000;
	padding: 10px 0;
	border-bottom: 1px solid #E6E6E6;
}
.our-advantages{
	background: #111111;
	padding: 130px 50px;
}
.advantages__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.our-advantages .title{
	color: #ffffff;
	margin-bottom: 70px;
}
.advantages__item:nth-child(1) .advantages__ico{
	background: url('../../assets/images/icons/kreslo.svg') no-repeat center;
}
.advantages__item:nth-child(2) .advantages__ico{
	background: url('../../assets/images/icons/knife.svg') no-repeat center;
}
.advantages__item:nth-child(3) .advantages__ico{
	background: url('../../assets/images/icons/iconfinder_cream_5026433.svg') no-repeat center;
}
.advantages__item:nth-child(4) .advantages__ico{
	background: url('../../assets/images/icons/iconfinder_hairbrush_5026439.svg') no-repeat center;
}
.advantages__ico{
	width: 75px;
	height: 75px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.advantages__item{
	width: 25%;
	text-align: center;
}
.our-advantages{
	background-image: url('../../assets/images/barbershops-zaporozhye.png');
	background-repeat: no-repeat;
	background-position: right;
}
.advantages__name{
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 14px;
	min-height: 55px;
}
.advantages__text{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.3;
}
.seo-block{
	margin: 80px auto 100px auto;
}
.seo__text{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 175%;
	color: #505050;
}
footer{
	background: #111111;
	padding: 105px 50px;
}
.footer__copy{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 175%;
	color: #505050;
	margin-bottom: 25px;
}
.footer__info{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 175%;
	color: #505050;
}
.footer__logo a{
	display: inline-block;
	margin-bottom: 15px;
}
.footer__wrap-social a:not(:last-child){
	margin-right: 20px;
}
.footer__wrap-social{
	margin-top: 20px;
}
a.facebook i{
	background: url('../../assets/images/icons/social/iconfinder_facebook.svg') no-repeat center;
	background-size: contain
}
a.instagram i{
	background: url('../../assets/images/icons/social/iconfinder_instagram.svg') no-repeat center;
	background-size: contain
}
a.pinterest i{
	background: url('../../assets/images/icons/social/iconfinder_pinterest.svg') no-repeat center;
	background-size: contain
}
a.telegram i{
	background: url('../../assets/images/icons/social/iconfinder_telegram.svg') no-repeat center;
	background-size: contain
}
.footer__wrap-social a i {
	height: 100%;
	width: 100%;
	display: block;
}
.footer__wrap-social a{
	display: inline-block;
	width: 23px;
	height: 23px;
}
.inner__footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.footer__logo:after{
	content: '';
    width: 1px;
    height: calc(100% + 276px);
    background: #ffffff;
    opacity: .05;
    display: block;
    right: 0;
    position: absolute;
    top: -138px;
}
.footer__logo{
	width: 30%;
	margin-right: 70px;
	position: relative;
}
.footer__menus{
	width: 55%;
}
.footer__menus{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.footer__menus ul li{
	margin-bottom: 8px;
}
.footer__menus ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.footer__socials{
	-ms-align-self: flex-start;
	align-self: flex-start;
	width: 25%;
}
.footer__menus ul li a {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 150%;
	color: #FFFFFF;
	opacity: 0.4;
	text-decoration: none;
}
.footer__menus ul:nth-child(1){
	margin-right: 115px;
}
.footer__title{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
	margin-bottom: 10px;
}



/*// DETAIL PAGE*/

.detail__first-screen{
	height: calc(100vh - 76px);
	background: url('../images/barbershops-zaporozhye.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}
.detail__first-screen:after{
	width: 100%;
	height: 100%;
	content: '';
	position: absolute;
	background: #111111;
	opacity: 0.9;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.detail__first-screen:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100px;
	display: block;
	right: 0;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
}

.breadcrumbs a.active{
	color: #FFFFFF;
	opacity: 0.3;
}
.breadcrumbs a:not(:last-child){
	margin-right: 13px;
}
.breadcrumbs a{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
	color: #D7B45C;
}
.breadcrumbs{
	padding-top: 13px;
	position: relative;
	z-index: 10;
}
.d__first-screen{
	margin-top: 150px;
	width: 80%;
	position: relative;
	z-index: 10;
}
.d__first-screen a, .features-left a{
	margin-right: 20px;
	display: inline-block;
}
.features{
	margin-bottom: 60px;
}
.features-left a#on-site{
	border-color: #111111;
	color: #111111;
}
.d__first-screen .information__rating{
	margin-bottom: 50px;
}
#write{
	background: #D7B45C;
	border-radius: 2px;
	border-color: #D7B45C;
	text-align: center;
	padding-right: 30px;
	color: #111111;
	display: inline-block;
}
.features__r-text{
	text-align: center;
	position: absolute;
	bottom: -30px;
	width: 100%;
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #505050;
}
.features__right .wrapper-arrows{
	position: absolute;
	bottom: 0;
	top: auto;
}
.d__first-screen .information__button{
	text-align: center;
	padding-right: 30px;
	background-image: none;
}
.features__right{
	position: relative;
}
.features__right .wrapper-arrows{
	width: 100%;
}
#on-site{
	background: transparent;
	border-color: #D7B45C;
	color: #D7B45C;
	display: inline-block;
	padding-right: 30px;
}
.features_r-wrapper img{
	height: 100%;
	width: 100%;
	display: block;
}
.features_r-wrapper{
	max-height: 425px;
	height: 100%;
	position: relative;
}
.d-navigation{
	padding: 20px 20px 0 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #D9D9D9;
}
.d-navigation ul li.active{
	color: #D7B45C;
	border-bottom: 2px solid #D7B45C;
}
.d-navigation ul li a{
	cursor: pointer;
	color: #111111;
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 13px;
	line-height: 18px;
}
.d-navigation ul li{
	padding: 0 35px;
	cursor: pointer;
	padding-bottom: 15px;
	font-family: Prata, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
}
.features{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.d-navigation ul{
	display: -webkit-flex;
	margin: 0 auto;
	padding: 0;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	list-style-type: none;
}
.features-left{
	width: 40%;
}
.f__item .f__name {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 240.5%;
}
.f__item{
	margin-right: 30px;
	padding-left: 40px;
	background: url('../images/icons/wifi.svg') no-repeat left;
	
	margin-bottom: 20px;
	color: #000000;
}
.f__wrapper-items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.mobile-burger{
	width: 26px;
	height: 18px;
	background: url('../images/icons/burger.svg') no-repeat center;
	display: none;
}


@media(max-width: 1300px){
	header, section{
		padding: 30px 50px;
	}
	.detail-barber .title{
		padding: 15px 25px;
	}
}
@media(max-width: 1140px){
	.mobile-burger{
		display: block;
		position: absolute;
		left: 0;
	}
	.footer__wrap-social a:not(:last-child){
		margin-right: 8px;
	}
	.detail__first-screen{
		padding-top: 0;
	}
	header{
		padding: 20px 50px;
	}
	.inner__header{
		position: relative;
	}
	.inner__header{
		justify-content: center;
	}
	.features-left{
		width: 100%;
		margin-bottom: 40px;
	}
	.features{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.features__right{
		width: 100%;
	}
	.features_r-wrapper{
		max-height: 100%;
	}
	.d__first-screen{
		width: 100%;
		text-align: center;
	}
	.d-navigation ul{
		justify-content: space-around;
	}
	ul.menu{
		display: none;
	}
}
@media(max-width: 768px){
	header{
		padding: 20px;
	}
	footer{
		padding-top: 40px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 50px;
	}
	.inner__footer, .footer__menus{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer__menus ul{
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}
	.footer__socials{
		width: 100%;
		display: block;
		text-align: center;
	}
	.footer__logo{
		width: 100%;
		margin-right: 0;
		border-bottom: 1px solid #2B2B2B;
		text-align: center;
		margin-bottom: 40px;
	}
	.footer__copy, .footer__info{
		display: none;
	}
	.f__item{
		margin-right: 15px;
	}
	.detail-barber .title{
		padding: 15px 20px;
	}
	section{
		padding: 30px 20px;
	}
	.d-navigation ul li{
		padding: 0 17px;
		padding-bottom: 15px;
	}
}
@media(max-width: 600px){
	.s__table, .s__contacts{
		width: 100%;
	}
	#on-site{
		text-align: center;
	}
	.s__text{
		margin-bottom: 20px;
	}
	.s__contacts{
		margin-left: 0;
	}
	.services, .about-barber{
		margin-bottom: 30px;
	}
	.AB_left, .AB__advertising{
		width: 100%;
	}
	#write{
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	#on-site{
		display: block;
		width: 100%;
	}
	.AB__advertising{
		margin-left: 0;
		margin-top: 40px;
	}
	.about-barber{
		padding-top: 0;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.services{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}
@media(max-width: 475px){
	.d-navigation{
		display: none;
	}
	#features{
		padding-top: 40px;
		margin-bottom: 0;
	}
	#services{
		margin-bottom: 0;
	}
	.services, #reviews{
		padding-top: 15px;
	}
	.about-barber{
		margin-bottom: 0;
	}
}